@page "/C_Clientes"
@inject HttpClient httpClient
@inject NotificationService notificationService

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components

@attribute [Authorize(Roles = "Administrador,Vendedor")]

<PageTitle>Consulta de Clientes</PageTitle>

<div class="card-header mt-4">

	<div class="card-header">
		<h3>Consulta de Clientes</h3>
	</div>

	<div class="row mt-2">
		<label class="mt-2 fs-6">Filtrar por:</label>

		<div class="col-md-3">
			<select class="form-select form-select-sm" @bind="opciones">
				<option value="0" disabled selected>Elija una opción</option>
				<option value="1">ID</option>
				<option value="2">Nombre</option>
				<option value="3">Tel&eacute;fono</option>
				<option value="4">Direcci&oacute;n</option>
			</select>
		</div>

		<div class="col-md-3">
			@if (opciones == 1)
			{
				<input type="number" min="0" class="form-control form-control-sm" @bind="auxClientes.ClienteId" />
			}
			else if (opciones == 2)
			{
				<input type="text" class="form-control form-control-sm" @bind="auxClientes.Nombre" />
			}
			else if(opciones == 3)
			{
				<input type="text" class="form-control form-control-sm" @bind="auxClientes.Teléfono" maxlength="10" />
			}
			else if(opciones == 4)
			{
				<input type="text" class="form-control form-control-sm" @bind="auxClientes.Dirección" />
			}
		</div>

		<div class="col-md-2">
			<button class="btn btn-primary btn-sm" type="button" @onclick="Buscar">
				<i class="oi oi-magnifying-glass" />
			</button>
		</div>


		<div class="card-body">
			<div class="table-responsive ">
				<table border="1" class="table table-bordered table-striped ">
					<thead>
						<tr class="table-secondary">
							<th>ID</th>
							<th>Nombre</th>
							<th>Tel&eacute;fono</th>
							<th>Direcci&oacute;n</th>
							<th>Email</th>

							<th>Ver</th>
						</tr>
					</thead>
					<tbody>
						@if (cliente != null)
						{
							@foreach (var table in cliente)
							{
								<tr>
									<td>@table.ClienteId</td>
									<td>@table.Nombre</td>
									<td>@table.Teléfono</td>
									<td>@table.Dirección</td>
									<td>@table.Email</td>
									<td><a href="R_Clientes/@table.ClienteId"> <i class="oi oi-eye"> </i></a></td>
								</tr>
							}
						}
					</tbody>

					<div class="card-header-tabs">
						<div class="col col-md-mt-4">
							<span class="ml-4">Resultados: @conteo</span>
						</div>
					</div>

				</table>

			</div>
		</div>
	</div>
</div>


@code {

	public List<Clientes> cliente { get; set; }
	public Clientes auxClientes { get; set; } = new Clientes();

	public int opciones { get; set; }
	public int conteo { get; set; }

	public async Task Buscar()
	{
		switch (opciones)
		{
			case 0:
				if (opciones == 0)
				{
					notificationService.Notify(new NotificationMessage
						{
							Severity = NotificationSeverity.Warning,
							Summary = "Filtro requerido",
							Detail = "Debe elegir un filtro antes de realizar la búsqueda.",
							Duration = 5000
						});
					return;
				}
				break;
			case 1:
				if (auxClientes.ClienteId != 0)
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.Where(p => p.ClienteId == auxClientes.ClienteId)
						.ToList();
					StateHasChanged();
				}
				else
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.ToList();
					StateHasChanged();
				}
				break;
			case 2:
				if (!string.IsNullOrEmpty(auxClientes.Nombre))
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.Where(p => p.Nombre.Contains(auxClientes.Nombre))
						.ToList();
					StateHasChanged();
				}
				else
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.ToList();
					StateHasChanged();
				}
				break;
			case 3:
				if (!string.IsNullOrEmpty(auxClientes.Teléfono))
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.Where(p => p.Teléfono.Contains(auxClientes.Teléfono))
						.ToList();
					StateHasChanged();
				}
				else
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.ToList();
					StateHasChanged();
				}
				break;
			case 4:
				if (!string.IsNullOrEmpty(auxClientes.Dirección))
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.Where(p => p.Dirección.Contains(auxClientes.Dirección))
						.ToList();
					StateHasChanged();
				}
				else
				{
					cliente = (await httpClient.GetFromJsonAsync<List<Clientes>>($"api/Clientes"))
						.ToList();
					StateHasChanged();
				}
				break;
		}
		conteo = cliente.Count;
	}
}