@page "/C_Productos"
@inject HttpClient httpClient
@using PharmaTracker.Shared;

<div class="card-header mt-4">

    <div class="card-header">
        <h3>Consulta de Productos</h3>
    </div>

    <div class="row">

        <div class="col-md-5 mt-3">
            <label>Desde:</label>
            <input type="date" class="form-control" @bind="Desde" />
        </div>

        <div class="col-md-5 mt-3">
            <label>Hasta:</label>
            <input type="date" class="form-control" @bind="Hasta" />
        </div>
    </div>


	<div class="row mt-2">
		<label class="mt-2">Filtrar por:</label>

		<div class="col">
			<select class="form-select" @bind="opciones">
				<option value="" selected>Seleccione una opción</option>
				<option value="0">ID</option>
				<option value="1">Nombre del Producto</option>
				<option value="2">Laboratorio</option>
				<option value="3">Existencia</option>
			</select>
		</div>

		<div class="col-md-4">
			@if (opciones == 0)
			{
				<input type="number" min="0" class="form-control" @bind="auxProducto.ProductoId" />
			}
			else if (opciones == 1)
			{
				<input type="text" class="form-control" @bind="auxProducto.NombreProducto" />
			}
			else if (opciones == 2)
			{
				<input type="number" min="0" class="form-control" @bind="auxProducto.Laboratorio" />
			}
			else if (opciones == 3)
			{
				<div class="col-md-4">
					<label>Existencia:</label>
					<div>
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="existenciaOption" @onchange="(() => conExistencia = true)" /> Con Existencia
						</label>
					</div>
					<div>
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="existenciaOption" @onchange="(() => conExistencia = false)" /> Sin Existencia
						</label>
					</div>
				</div>
			}
			
		</div>

		<div class="col col-md-4">
			<button class="btn btn-primary ml-2" type="button" @onclick="Buscar">
				<i class="oi oi-magnifying-glass" />
			</button>
		</div>

	</div>

	<div class="card-body">
		<div class="table-responsive ">
			<table border="1" class="table table-bordered table-striped ">
				<thead>
					<tr class="table-secondary">
						<th>ID</th>
						<th>Fecha</th>
						<th>Nombre del Producto</th>
						<th>Laboratorio</th>
						<th>Existencia</th>
						<th>Ver</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var tabla in productos)
					{
						<tr>
							<td>@tabla.ProductoId</td>
							<td>@tabla.Fecha.ToString("MM/dd/yyyy")</td>
							<td>@tabla.NombreProducto</td>
							<td>@tabla.Laboratorio</td>
							<td>@tabla.Existencia</td>
							<td><a href="R_Productos/@tabla.ProductoId"> <i class="oi oi-eye"> </i></a></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>

@code {

    public List<Productos> productos { get; set; } = new List<Productos>();
	public Productos auxProducto { get; set; } = new Productos();

    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }

	private bool conExistencia = true;
    public int opciones { get; set; }
    public int conteo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Desde = DateTime.Now.AddMonths(-1);
        Hasta = DateTime.Now;
    }

    public async Task Buscar()
    {


    }

}