@page "/C_Productos"
@inject HttpClient httpClient
@inject NotificationService notificacionesService
@using PharmaTracker.Shared;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components

@attribute [Authorize(Roles = "Administrador,Vendedor")]
<div class="card-header mt-4">

	<div class="card-header">
		<h3>Consulta de Productos</h3>
	</div>

	<div class="row">

		<div class="col-md-5 mt-3">
			<label>Desde:</label>
			<input type="date" class="form-control" @bind="Desde" />
		</div>

		<div class="col-md-5 mt-3">
			<label>Hasta:</label>
			<input type="date" class="form-control" @bind="Hasta" />
		</div>
	</div>


	<div class="row mt-2">
		<label class="mt-2">Filtrar por:</label>

		<div class="col">
			<select class="form-select" @bind="opciones">
				<option value="0" disabled selected>Elija una opci&oacute;n</option>
				<option value="1">ID</option>
				<option value="2">Nombre del Producto</option>
				<option value="3">Existencia</option>
				<option value="4">Unidad</option>
				<option value="5">Categor&iacute;a</option>
			</select>
		</div>

		<div class="col-md-4">
			@if (opciones == 1)
			{
				<input type="number" min="0" class="form-control" @bind="auxProducto.ProductoId" />
			}
			else if (opciones == 2)
			{
				<input type="text" class="form-control" @bind="auxProducto.NombreProducto" oninput="@ConvertirAMayusculas" />
			}
			else if (opciones == 3)
			{
				<div class="col-md-4">
					<label>Existencia:</label>
					<div>
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="existenciaOption" @onchange="(() => conExistencia = true)" /> Con Existencia
						</label>
					</div>
					<div>
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="existenciaOption" @onchange="(() => conExistencia = false)" /> Sin Existencia
						</label>
					</div>
				</div>
			}
			else if (opciones == 4)
			{
				<div class="col-md-7">
					<div>
						<InputSelect class="form-select" @bind-Value="auxProducto.Unidad">
							<option value="" disabled selected>Elija una unidad</option>
							<option value="UD">UD</option>
							<option value="BLI">BLI</option>
							<option value="BARR">BARR</option>
							<option value="BLLA">BLLA</option>
							<option value="SUSP">SUSP</option>
							<option value="PAQ">PAQ</option>
							<option value="SOB">SOB</option>
							<option value="CREM">CREM</option>
							<option value="WIPE">WIPE</option>
							<option value="OVUL">OVUL</option>
							<option value="JER">JER</option>
							<option value="GEL">GEL</option>
							<option value="GOTA">GOTA</option>
							<option value="PARCHE">PARCHE</option>
							<option value="SUP">SUP</option>
							<option value="TAB">TAB</option>
							<option value="POLV">POLV</option>
							<option value="LATA">LATA</option>
							<option value="CART">CART</option>
							<option value="FRAS">FRAS</option>
						</InputSelect>
					</div>
				</div>
			}
			else if(opciones == 5)
			{
				<div class="col-md-11">
					<div class="form-group md-7">
						<InputSelect class="form-select" @bind-Value="auxProducto.Categoria">
							<option value="" disabled selected>Elija una categor&iacute;a</option>
							<option value="MEDICAMENTO">MEDICAMENTO</option>
							<option value="CUIDADO PERSONAL">CUIDADO PERSONAL</option>
							<option value="SALUD Y NUTRICION">SALUD Y NUTRICION</option>
							<option value="APLICACIONES DE SALUD">APLICACIONES DE SALUD</option>
							<option value="BEBES Y NIÑOS">BEBES Y NIÑOS</option>
							<option value="PLANIFICACIÓN FAMILIAR">PLANIFICACIÓN FAMILIAR</option>
						</InputSelect>
					</div>
				</div>
			}
		</div>

		<div class="col col-md-4">
			<button class="btn btn-primary ml-2" type="button" @onclick="Buscar">
				<i class="oi oi-magnifying-glass" />
			</button>
		</div>

	</div>

	<div class="card-body">
		<div class="table-responsive ">
			<table border="1" class="table table-bordered table-striped ">
				<thead>
					<tr class="table-secondary">
						<th>ID</th>
						<th>Fecha</th>
						<th>Nombre del Producto</th>
						<th>Existencia</th>
						<th>Precio</th>
						<th>Categor&iacute;a</th>
						<th>Unidad</th>
						<th>Ver</th>
					</tr>
				</thead>
				<tbody>
					@if (productos != null)
					{
						@foreach (var table in productos)
						{
							<tr>
								<td>@table.ProductoId</td>
								<td>@table.Fecha.ToString("MM/dd/yyyy")</td>
								<td>@table.NombreProducto.ToUpper()</td>
								<td>@table.Existencia</td>
								<td>RD $@table.Precio</td>
								<td>@table.Categoria</td>
								<td>@table.Unidad</td>
								<td><a href="R_Productos/@table.ProductoId"> <i class="oi oi-eye"> </i></a></td>
							</tr>
						}
					}
				</tbody>

				<div class="card-header-tabs">
					<div class="col col-md-mt-4">
						<span class="ml-2">Resultados: @conteo</span>
					</div>
				</div>

			</table>

		</div>
	</div>

</div>

@code {

	public List<Productos> productos { get; set; } = new List<Productos>();
	public Productos auxProducto { get; set; } = new Productos();

	public DateTime Desde { get; set; }
	public DateTime Hasta { get; set; }

	private bool conExistencia = true;
	public int opciones { get; set; }
	public int conteo { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Desde = DateTime.Now.AddMonths(-1);
		Hasta = DateTime.Now;
	}

	public async Task Buscar()
	{

		switch (opciones)
		{
			case 0:
				if (opciones == 0)
				{
					notificacionesService.Notify(new NotificationMessage
						{
							Severity = NotificationSeverity.Warning,
							Summary = "Filtro requerido",
							Detail = "Debe elegir un filtro antes de realizar la búsqueda.",
							Duration = 5000
						});
					return;
				}
				break;

			case 1:
				if (auxProducto.ProductoId != 0)
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta && p.ProductoId == auxProducto.ProductoId).
						ToList();
					StateHasChanged();
				}
				else
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta)
						.ToList();
					StateHasChanged();
				}
				break;

			case 2:
				if (!string.IsNullOrEmpty(auxProducto.NombreProducto))
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta && p.NombreProducto.Contains(auxProducto.NombreProducto))
						.ToList();
					StateHasChanged();
				}
				else
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta)
						.ToList();
					StateHasChanged();
				}
				break;

			case 3:
				if (conExistencia)
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta && p.Existencia > 0)
						.ToList();
					StateHasChanged();
				}
				else
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta && p.Existencia == 0)
						.ToList();
					StateHasChanged();
				}
				break;

			case 4:
				if (!string.IsNullOrEmpty(auxProducto.Unidad))
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta && p.Unidad == auxProducto.Unidad)
						.ToList();
					StateHasChanged();
				}
				else
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(p => p.Fecha >= Desde.Date && p.Fecha <= Hasta)
						.ToList();
					StateHasChanged();
				}
				break;

			case 5:
				if (!string.IsNullOrEmpty(auxProducto.Categoria))
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(c => c.Fecha >= Desde.Date && c.Fecha <= Hasta && c.Categoria == auxProducto.Categoria)
						.ToList();
					StateHasChanged();

				}
				else
				{
					productos = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos"))
						.Where(c => c.Fecha >= Desde.Date && c.Fecha <= Hasta)
						.ToList();
					StateHasChanged();
				}
				break;
		}
		conteo = productos.Count;
	}

	public void ConvertirAMayusculas(ChangeEventArgs args)
	{
		auxProducto.NombreProducto = args.Value?.ToString().ToUpper();

	}

}