@page "/R_Admin"
@page "/R_Admin/{RAdminId:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components


@attribute [Authorize(Roles = "Administrador")]
@inject NotificationService notificationService
@inject HttpClient httpClient

<PageTitle>Registro de Admins</PageTitle>

<div class="card-header">
	<h3>Registros de Administradores</h3>
</div>

<EditForm Model="admin" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />

	<div class="container">
        <div class="card shadow-lg">
            <div class="card-header">

				@*ID*@
				<div class="col-md-3 mt-2">
					<div class="form-group mb-2">
						<label class="form-label" @for="admin.AdminId">Admin Id:</label>
						<div class="input-group">
							<InputNumber id="EntradasId" min="0" class="form-control" @bind-Value="admin.AdminId" />
							<ValidationMessage For="@(() => admin.AdminId)" />
							<div class="ms-2">
								<button class="btn btn-primary" type="button" @onclick="Buscar">
									<i class="oi oi-magnifying-glass" />
								</button>
							</div>
						</div>
					</div>
				</div>

				@*Nombre*@
				<div class="col-md-6 mt-2">
					<div class="form-group mb-3">
						<label class="form-label" @for="admin.Nombre">Nombre:</label>
						<InputText id="NombreProducto" class="form-control" @bind-Value="admin.Nombre" />
						<ValidationMessage For="@(() => admin.Nombre)" />
					</div>
				</div>

				<div class="row">

					@*Email*@
					<div class="col-md-6 mt-2">
						<div class="form-group">
							<label for="Email">Email:</label>
							<InputText @bind-Value="admin.Email" class="form-control" id="Email" placeholder="Ingrese su correo electr&oacute;nico" />
							<ValidationMessage For="@(() => admin.Email)" />
						</div>
					</div>

					@*Password*@

					<div class="col-md-5">
						<div class="form-group ">
							<label class="form-label" @for="admin.Contraseña">Contraseña </label>
							<div class="input-group">
								<InputText @bind-Value="admin.Contraseña" type="@((mostrarContraseña) ? "text" : "password")" class="form-control" id="Contraseña" placeholder="Ingrese su contraseña" />
								<div class="ms-2">
									<button @onclick="MostrarContraseña" class="btn btn-outline-secondary" type="button">
										@if (mostrarContraseña)
										{
											<i class="oi oi-dial"></i>
										}
										else
										{
											<i class="oi oi-eye"></i>
										}
									</button>
								</div>
								<ValidationMessage For="@(() => admin.Contraseña)" />
							</div>
						</div>
					</div>

				</div>

				@*Direccion*@
				<div class="col-md-7 mt-3 mb-4">
					<div class="form-group mb-2">
						<label class="form-label" @for="admin.Dirección">Direcci&oacute;n:</label>
						<InputTextArea id="Direccion" class="form-control" @bind-Value="admin.Dirección" />
						<ValidationMessage For="@(() => admin.Dirección)" />
					</div>
				</div>

				@*Detalle Telefono*@

				<fieldset class="border-success border border-1 mt-2">
					<h3>Tel&eacute;fonos del administrador</h3>
					<div class="row m-1">

						@*TipoTelefono *@
						<div class="col-md-3 mt-2">
							<label>Tipo Tel&eacute;fono:</label>
							<div class="form-group mb-3">
								<InputSelect class="form-select" @bind-Value="adminDetalle.AdminTipos">
									<option value="0" disabled selected> [Seleccione] </option>
									<option value="Telefono">Tel&eacute;fono</option>
									<option value="Celular">Celular</option>
									<option value="Oficina">Oficina</option>
								</InputSelect>
								<ValidationMessage For="@(() => adminDetalle.AdminTipos)" />
							</div>
						</div>

						<div class="col-md-3 ms-4 mt-2">
							<label>Tel&eacute;fono:</label>
							<InputText class="form-control" @bind-Value="adminDetalle.AdminTelefono" maxlength="12" placeholder="Ej: xxx-xxx-xxxx"></InputText>
							<ValidationMessage For="@(() => adminDetalle.AdminTelefono)" />
						</div>

						<div class="col-2">
							<br>
							<button type="button" class="btn btn-success input-group-text" @onclick="AgregarDetalle">
								<span class="oi oi-plus">Agregar</span>
							</button>
						</div>
					</div>

					<hr />
					<table class="table table-bordered table-light m-1">
						<thead class="thead">
							<tr class="table">
								<th>Tipo Telefono</th>
								<th>Telefono</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var detalle in admin.AdminDetalle)
							{
								<tr>
									<td>@detalle.AdminTipos</td>
									<td>@detalle.AdminTelefono</td>
									<td> <button @onclick="@(() => RemoverDetalle(detalle))"><i class="oi oi-trash" /> Eliminar</button>   </td>
								</tr>
							}
						</tbody>
					</table>
					<div class="row justify-content-between">
						<div class="col-4">
							<label>Cantidad Telefonos</label>
							<div class="input-group mb-3">
								<span class="form-control">@admin.AdminDetalle.Count()</span>
							</div>
						</div>
					</div>

					<hr />
				</fieldset>
				
			</div>
		</div>
	</div>
	
	<div class="d-flex justify-content-center mb-4 mt-4">
		<div class="btn-group">
			<button type="button" class="btn btn-outline-primary" @onclick="Nuevo"> Nuevo <i class="oi oi-file" /></button>
			<button type="submit" class="btn btn-outline-success" @onclick="Guardar"> Guardar <i class="oi oi-document" /></button>
			<button type="button" class="btn btn-outline-danger" @onclick="Eliminar"> Eliminar <i class="oi oi-trash" /></button>
		</div>
	</div>

</EditForm>


@code {

	[Parameter]
	public int RAdminId { get; set; }

	public Admin admin { get; set; } = new Admin();
	public AdminDetalle adminDetalle { get; set; } = new AdminDetalle();
	public List<AdminDetalle> DetalleRemove { get; set; } = new List<AdminDetalle>();


	public bool detalleTipos { get; set; } = false;
	public bool detalleTipo { get; set; } = false;
	public bool mostrarContraseña = false;

	protected override async Task OnInitializedAsync()
	{

		if (RAdminId > 0)
		{
			this.admin.AdminId = RAdminId; 
			await Buscar();
		}
	}

	@*Guardad, Buscar, Eliminar y Nuevo*@

	public async Task Buscar()
	{
		this.adminDetalle = new AdminDetalle();
		var adminNotNull = (await httpClient.GetFromJsonAsync<List<Admin>>($"api/Admins")).ToList().Any(a => a.AdminId == admin.AdminId);
		if (adminNotNull)
		{
			var adminEncontrado = await httpClient.GetFromJsonAsync<Admin>($"api/Admins/{admin.AdminId}");
			if (adminEncontrado != null)
			{
				this.admin = adminEncontrado;
				StateHasChanged();
				var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Success,
					Summary = "Busqueda Exitosa",
					Detail = "Se ha encontrado el administrador",
					Duration = 5_000
				};
				notificationService.Notify(mensaje);
			}
		}
		else
		{
			var mensaje = new NotificationMessage
			{
				Severity = NotificationSeverity.Error,
				Summary = "Busqueda Fallida",
					Detail = "No se ha encontrado el administrador",
				Duration = 5_000
			};
			notificationService.Notify(mensaje);
		}
	}

	public async Task Guardar()
	{
		using var reponse = await httpClient.PostAsJsonAsync("api/Admins", admin);
		if(!reponse.IsSuccessStatusCode)
		{
			var mensaje = new NotificationMessage
			{
				Severity = NotificationSeverity.Error,
				Summary = "Error",
				Detail = "No se ha podido guardar el administrador",
				Duration = 5_000
			};
			notificationService.Notify(mensaje);
			return;
		}
		foreach(var detallle in DetalleRemove)
		{
			await httpClient.DeleteAsync($"api/Admins/DeleteAdminDetalle/{detallle.AdminDetalleId}");
		}

		var adminDevuelto = await reponse.Content.ReadFromJsonAsync<Admin>();
		if(adminDevuelto is not null)
		{
			this.admin = adminDevuelto;
			StateHasChanged();
			var mensaje = new NotificationMessage
			{
				Severity = NotificationSeverity.Success,
				Summary = "Guardado Exitoso",
				Detail = "Se ha guardado el administrador",
				Duration = 5_000
			};
			notificationService.Notify(mensaje);
			Nuevo();
		}
	}

	public void Nuevo()
	{
		this.admin = new Admin();
		this.adminDetalle = new AdminDetalle();
		var mensaje = new NotificationMessage
			{
				Severity = NotificationSeverity.Success,
				Summary = "Nuevo ",
				Detail = "Se ha limpiado las casillas",
				Duration = 5_000
			};
		notificationService.Notify(mensaje);
	}

	public async Task Eliminar()
	{
		using var response = await httpClient.DeleteAsync($"api/Admins/{admin.AdminId}");
		if (!response.IsSuccessStatusCode)
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error",
					Detail = "No se ha podido eliminar el administrador",
					Duration = 5_000
				};
			notificationService.Notify(mensaje);
			return;
		}
		else
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Success,
					Summary = "Eliminado Exitoso",
					Detail = "Se ha eliminado el administrador",
					Duration = 5_000
				};
			notificationService.Notify(mensaje);
			Nuevo();
		}
	}

	@*Detalle Telefono*@

	public async Task AgregarDetalle()
	{
		admin.AdminDetalle ??= new List<AdminDetalle>();

		if (ValidarDetalle())
		{
			var detalle = new AdminDetalle
				{
					AdminTipos = adminDetalle.AdminTipos,
					AdminTelefono = adminDetalle.AdminTelefono,
				};
			admin.AdminDetalle.Add(detalle);

			adminDetalle = new AdminDetalle();

			StateHasChanged();

		}
	}


	public bool ValidarDetalle()
	{
		detalleTipo = string.IsNullOrEmpty(adminDetalle.AdminTelefono);
		detalleTipos = string.IsNullOrEmpty(adminDetalle.AdminTipos);

		return !detalleTipo && !detalleTipos;

	}


	public void RemoverDetalle(AdminDetalle detalleRemover)
	{
		adminDetalle = detalleRemover;
		admin.AdminDetalle.Remove(detalleRemover);
		DetalleRemove.Add(detalleRemover);
		StateHasChanged();
	}


	@*
	    public void RemoverDetalle(ProductoTerminadosDetalle detalle)
    {
        Detalles = detalle;
        productosTerminados.ProductoTerminadosDetalle.Remove(detalle);
        DetallesRemovidos.Add(detalle);
        if (ListaDetalles.Any(d => d.DetalleId == detalle.DetalleId))
            ListaDetalles.Remove(detalle);
        StateHasChanged();
    }
	*@


	public void MostrarContraseña()
	{
		mostrarContraseña = !mostrarContraseña;
	}
}
