@page "/R_Productos"
@page "/R_Productos/{RProductosId:int}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization


@attribute [Authorize(Roles ="Administrador, Vendedor")]
@inject NotificationService notificacionesService
@inject HttpClient httpClient

<PageTitle>Registro de Productos</PageTitle>

<div class="card-header">
	<h3>Registros de Productos</h3>
</div>

<EditForm Model="productos" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="row">

		@*ID*@
		<div class="col-md-3 mt-2">
			<div class="form-group mb-2">
				<label class="form-label" @for="productos.ProductoId">Producto Id:</label>
				<div class="input-group">
					<InputNumber id="EntradasId" min="0" class="form-control" @bind-Value="productos.ProductoId" />
					<ValidationMessage For="@(() => productos.ProductoId)" />
					<div class="ms-2">
						<button class="btn btn-primary" type="button" @onclick="Buscar">
							<i class="oi oi-magnifying-glass" />
						</button>
					</div>
				</div>
			</div>
		</div>

		@* Fecha *@
		<div class="col-md-2 mt-2 ms-2">
			<div class="form-group mb-2">
				<label class="form-label" @for="productos.Fecha">Fecha:</label>
				<div class="input-group">
					<InputDate max="@DateTime.Now.ToString("yyyy-MM-dd")" id="Fecha" class="form-control" @bind-Value="productos.Fecha" />
				</div>
				@if (FechaFutura(productos.Fecha))
				{
					<p class="text-danger">No se pueden registrar fechas futuras.</p>
				}
			</div>
		</div>

	</div>


	@* NombreProducto y Unidad *@
	<div class="row">
		<div class="col-md-6 mb-3">
			<label class="form-label" @for="productos.NombreProducto">Nombre del Producto:</label>
			<InputText id="NombreProducto" @bind-Value="productos.NombreProducto" class="form-control"  required />
			<ValidationMessage For="@(() => productos.NombreProducto)" />
		</div>

		<div class="col-md-3">
			<label class="form-label" for="productos.Categoria">Categor&iacute;a :</label>
			<div class="input-group">
				<div class="form-group mb-2">
					<InputSelect id="Unidad" class="form-select" @bind-Value="productos.Categoria">
						<option value="" disabled selected>Elija una categor&iacute;a</option>
						<option value="MEDICAMENTO">MEDICAMENTO</option>
						<option value="CUIDADO PERSONAL">CUIDADO PERSONAL</option>
						<option value="SALUD Y NUTRICION">SALUD Y NUTRICION</option>
						<option value="APLICACIONES DE SALUD">APLICACIONES DE SALUD</option>
						<option value="BEBES Y NIÑOS">BEBES Y NIÑOS</option>
						<option value="PLANIFICACIÓN FAMILIAR">PLANIFICACIÓN FAMILIAR</option>
					</InputSelect>
					<ValidationMessage For="@(() => productos.Categoria)" />
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<label class="form-label" for="productos.Unidad">Unidad:</label>
			<div class="input-group">
				<div class="form-group mb-3">
					<InputSelect id="Unidad" class="form-select" @bind-Value="productos.Unidad">
						<option value="" disabled selected>Elija una unidad</option>
						<option value="UD">UD</option>
						<option value="BLI">BLI</option>
						<option value="BARR">BARR</option>
						<option value="BLLA">BLLA</option>
						<option value="SUSP">SUSP</option>
						<option value="PAQ">PAQ</option>
						<option value="SOB">SOB</option>
						<option value="CREM">CREM</option>
						<option value="WIPE">WIPE</option>
						<option value="OVUL">OVUL</option>
						<option value="JER">JER</option>
						<option value="GEL">GEL</option>
						<option value="GOTA">GOTA</option>
						<option value="PARCHE">PARCHE</option>
						<option value="SUP">SUP</option>
						<option value="TAB">TAB</option>
						<option value="POLV">POLV</option>
						<option value="LATA">LATA </option>
					</InputSelect>
					<ValidationMessage For="@(() => productos.Unidad)" />
				</div>
			</div>
		</div>

	</div>


	@*Detalle laboratorio*@

	<div class="card-header mt-4">

		<h5>Laboratorios</h5>

		<div class="row form-inline align-items-center mt-3">

			@*Laboratorio*@
			<div class="col-md-4">
				<div class="form-group">
					<label>Laboratorio</label>
					<InputText @bind-Value="laboratorioProducto.Laboratorios" class="form-control align-middle" />
					<ValidationMessage For="@(() => laboratorioProducto.Laboratorios)" />
				</div>
			</div>

			@*Existencia*@
			<div class="col-md-2">
				<div class="form-group">
					<label>Cantidad</label>
					<InputNumber id="Existencia" min="0" class="form-control" @bind-Value="laboratorioProducto.Cantidad" required />
				</div>
			</div>

			@*Precio*@
			<div class="col-md-2">
				<div class="form-group">
					<label>Precio</label>
					<InputNumber id="Precio" min="0" class="form-control" @bind-Value="laboratorioProducto.Precio" required />
				</div>
			</div>

			@*Boton + Add *@
			<div class="col-md-4">
				<div class="form-group">
					<button type="button" class="btn btn-success" @onclick="AddDetailLab">+ Add</button>
				</div>
			</div>

		</div>

		@*Imagen*@
		<div class="col-md-5">
			<div Class="form-group">
				<label class="form-label mt-3" @for="productos.imagen">Foto:</label>
				<div class="input-group">
					<span class="input-group-text">Seleccionar Imagen:</span>
					<InputText @bind-Value="laboratorioProducto.imagen" class="form-control" placeholder="Url de la imagen"></InputText>
				</div>
			</div>
		</div>

		<table class="table table-sm mt-4">
			<thead>
				<tr>
					<th>Laboratorio</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Imagen</th>
				</tr>
			</thead>
			<tbody>
				@if (productos.detalleLabProducto != null)
				{
					foreach (var laboratorio in productos.detalleLabProducto)
					{
						<tr>
							<td>@laboratorio.Laboratorios.ToUpper()</td>
							<td>@laboratorio.Cantidad</td>
							<td>RD$@laboratorio.Precio</td>
							<td>@laboratorio.imagen</td>
							<td><button type="button" class="btn btn-danger oi oi-trash" @onclick=@(() => RemoveDetailLab(laboratorio))></button></td>
						</tr>
					}
				}
				<tr>
					<td></td>
					<td class="mt-4">Cantidad Total: @CantidadTotal </td> 
				</tr>
			</tbody>
		</table>
	</div>

	<div class="d-flex justify-content-center mb-4 mt-4">
		<div class="btn-group">
			<button type="button" class="btn btn-outline-primary" @onclick="Nuevo"> Nuevo <i class="oi oi-file" /></button>
			<button type="submit" class="btn btn-outline-success" @onclick="Guardar"> Guardar <i class="oi oi-document" /></button>
			<AuthorizeView Roles="Administrador">
                <Authorized Context="not_for_vendedor">
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash" /></button>
                </Authorized>
			</AuthorizeView>


		</div>
	</div>

</EditForm>

@code {
	[Parameter]
	public int RProductosId { get; set; }

	public Productos productos { get; set; } = new Productos();
	public IEnumerable<DetalleLaboratorioProducto> detalleLaboratorioProductos { get; set; } = new List<DetalleLaboratorioProducto>();

	public DetalleLaboratorioProducto laboratorioProducto { get; set; } = new DetalleLaboratorioProducto();

	public bool detalleLaboratorio = false;
	public bool detalleCantidad = false;
	public bool detallePrecio = false;

	public int CantidadTotal { get; set; } = 0;

	protected override async Task OnInitializedAsync()
	{
		if (RProductosId > 0)
		{
			this.productos.ProductoId = RProductosId;
			await Buscar();
		}
	}

	@*Guardad, Buscar, Eliminar y Nuevo*@

	public async Task Buscar()
	{
		var productoNotNull = (await httpClient.GetFromJsonAsync<List<Productos>>($"api/Productos")).ToList().Any(p => p.ProductoId == productos.ProductoId);
		if (productoNotNull)
		{
			var productoEncontrado = await httpClient.GetFromJsonAsync<Productos>($"api/Productos/{productos.ProductoId}");
			if (productoEncontrado != null)
			{
				this.productos = productoEncontrado;
				StateHasChanged();
			}
		}
		else
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Warning,
					Summary = "Error",
					Detail = "No se encontro el Producto",
					Duration = 5_000
				};
			notificacionesService.Notify(mensaje);
		}
	}

	public async Task Nuevo()
	{
		this.productos = new Productos();
		this.laboratorioProducto = new DetalleLaboratorioProducto();

		var mensaje = new NotificationMessage
			{
				Severity = NotificationSeverity.Success,
				Summary = "Nuevo ",
				Detail = "Puede introducir una nueva Entrada",
				Duration = 5_000
			};
		notificacionesService.Notify(mensaje);
	}

	public async Task Guardar()
	{
		productos.Existencia = CantidadTotal;
		using var response = await httpClient.PostAsJsonAsync("api/Productos", productos);
		if (!response.IsSuccessStatusCode)
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error",
					Detail = "No se pudo guardar el Producto",
					Duration = 5_000
				};
			notificacionesService.Notify(mensaje);
			return;
		}
		var ProductoGuardado = await response.Content.ReadFromJsonAsync<Productos>();
		if (ProductoGuardado is not null)
		{
			this.productos = ProductoGuardado;
			StateHasChanged();
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Success,
					Summary = "Guardado",
					Detail = "Producto Guardado con exito",
					Duration = 5_000
				};
			notificacionesService.Notify(mensaje);
			Nuevo();
		}
	}

	public async Task Eliminar()
	{
		using var reponse = await httpClient.DeleteAsync($"api/Productos/{productos.ProductoId}");
		if (!reponse.IsSuccessStatusCode)
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error",
					Detail = "No se pudo eliminar el Producto",
					Duration = 5_000
				};
			notificacionesService.Notify(mensaje);
			return;
		}

		var DetalleElimar = new List<DetalleLaboratorioProducto>();
		foreach (var detalle in productos.detalleLabProducto)
		{
			DetalleElimar.Add(detalle);
		}

		foreach (var detalle in DetalleElimar)
		{
			RemoveDetailLab(detalle);
		}

		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Success,
					Summary = "Eliminado",
					Detail = "Producto Eliminado con exito",
					Duration = 5_000
				};
			notificacionesService.Notify(mensaje);
		}
		Nuevo();


	}

	@*Detalle Laboratorio*@

	bool ValidarDetailLab()
	{
		detalleLaboratorio = string.IsNullOrEmpty(laboratorioProducto.Laboratorios);
		detalleCantidad = laboratorioProducto.Cantidad <= 0;
		detallePrecio = laboratorioProducto.Precio <= 0;

		return !detalleLaboratorio && !detalleCantidad && !detallePrecio;
	}

	public async Task AddDetailLab()
	{
		productos.detalleLabProducto ??= new List<DetalleLaboratorioProducto>();

		if (ValidarDetailLab())
		{
			var detalle = new DetalleLaboratorioProducto
				{
					Laboratorios = laboratorioProducto.Laboratorios,
					Cantidad = laboratorioProducto.Cantidad,
					Precio = laboratorioProducto.Precio
				};

			productos.detalleLabProducto.Add(detalle);
			laboratorioProducto = new DetalleLaboratorioProducto();

			CantidadTotal = productos.detalleLabProducto.Sum(d => d.Cantidad);

			StateHasChanged();
		}
	}

	public async Task RemoveDetailLab(DetalleLaboratorioProducto Removedetalle)
	{
		var detalleEncontrado = productos.detalleLabProducto.FirstOrDefault(d => d.Laboratorios == Removedetalle.Laboratorios && d.Cantidad == Removedetalle.Cantidad && d.Precio == Removedetalle.Precio);
		if (detalleEncontrado != null)
		{
			productos.detalleLabProducto.Remove(detalleEncontrado);
			CantidadTotal -= Removedetalle.Cantidad;
			await httpClient.DeleteAsync($"api/Productos/DeleteProductosLab/{Removedetalle.Laboratorios}/{Removedetalle.Cantidad}/{Removedetalle.Precio}");
			StateHasChanged();
		}
		else
		{
			var mensaje = new NotificationMessage
				{
					Severity = NotificationSeverity.Error,
					Summary = "Error",
					Detail = "No se pudo eliminar el detalle. Asegúrese de seleccionar un laboratorio, una cantidad y un precio.",
					Duration = 5_000
				};
			notificacionesService.Notify(mensaje);
		}

	}

	private void CalcularCantidadTotal()
	{
		CantidadTotal = 0;
		foreach (var detalle in productos.detalleLabProducto)
		{
			CantidadTotal += detalle.Cantidad;
		}
	}

	private bool FechaFutura(DateTime fecha)
	{
		return fecha > DateTime.Now;
	}

	public void ConvertirAMayusculas(ChangeEventArgs args)
	{
		productos.NombreProducto = args.Value?.ToString().ToUpper();

	}

}